<footer>
    <div class="main-footer">
    <div class="up-footer">
    <h3>DevSelect - Uma frase muito criativa</h3>
    </div>
    <hr>
    <div class="down-footer">
        <div class="social">
            <p>João Gabriel Rudolf</p>
            <a href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!" target="_blank"><img src="./assets/_img/wpp.png" alt="wpp"></a>
            <a><img src="./assets/_img/email.png" alt="email"></a>
            <a href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/" target="_blank"><img src="./assets/_img/linkedin.png" alt="linkdln"></a>
            <a href="https://github.com/chavesluucas" target="_blank"><img src="./assets/_img/github.png" alt="linkdln"></a>
        </div>

        <div class="social">
            <p>Paula Adriana da Costa</p>
            <a href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!" target="_blank"><img src="./assets/_img/wpp.png" alt="wpp"></a>
            <a><img src="./assets/_img/email.png" alt="email"></a>
            <a href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/" target="_blank"><img src="./assets/_img/linkedin.png" alt="linkdln"></a>
            <a href="https://github.com/chavesluucas" target="_blank"><img src="./assets/_img/github.png" alt="linkdln"></a>
        </div>

        <div class="social">
            <p>Yuri Koller Borba</p>
            <a href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!" target="_blank"><img src="./assets/_img/wpp.png" alt="wpp"></a>
            <a><img src="./assets/_img/email.png" alt="email"></a>
            <a href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/" target="_blank"><img src="./assets/_img/linkedin.png" alt="linkdln"></a>
            <a href="https://github.com/chavesluucas" target="_blank"><img src="./assets/_img/github.png" alt="linkdln"></a>
        </div>

        <div class="social">
            <p>Vinicios Pessoa Tribess</p>
            <a href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!" target="_blank"><img src="./assets/_img/wpp.png" alt="wpp"></a>
            <a><img src="./assets/_img/email.png" alt="email"></a>
            <a href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/" target="_blank"><img src="./assets/_img/linkedin.png" alt="linkdln"></a>
            <a href="https://github.com/chavesluucas" target="_blank"><img src="./assets/_img/github.png" alt="linkdln"></a>
        </div>

        <div class="social">
            <p>Lucas Emanuel Chaves</p>
            <a href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!" target="_blank"><img src="./assets/_img/wpp.png" alt="wpp"></a>
            <a><img src="./assets/_img/email.png" alt="email"></a>
            <a href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/" target="_blank"><img src="./assets/_img/linkedin.png" alt="linkdln"></a>
            <a href="https://github.com/chavesluucas" target="_blank"><img src="./assets/_img/github.png" alt="linkdln"></a>
        </div>

        <div class="social">
            <p>Julia Januario Pereira</p>
            <a href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!" target="_blank"><img src="./assets/_img/wpp.png" alt="wpp"></a>
            <a><img src="./assets/_img/email.png" alt="email"></a>
            <a href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/" target="_blank"><img src="./assets/_img/linkedin.png" alt="linkdln"></a>
            <a href="https://github.com/chavesluucas" target="_blank"><img src="./assets/_img/github.png" alt="linkdln"></a>
        </div>

    </div>
</div>
</footer>