<form class="container">
    <div class="row">
        <div class="col">

            <!-- Campo do nome  -->
            <div class="form-group col-12 mt-4">
                <label for="exampleInputEmail1">Nome Completo</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="Nome Completo"
                    placeholder="Nome Completo">
            </div>

            <!-- Campo do E-mail -->
            <div class="form-group col-12 mt-4">
                <label for="exampleInputEmail1">E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="E-mail"
                    placeholder="E-mail">
            </div>

            <!-- Campo do genero  -->
            <div class="form-group col-12 mt-4">
                <label for="exampleInputEmail1">Genero</label>
                <select class="form-control" name="genero" aria-describedby="Genero">
                    <option value="">Selecione o genero...(demonstrativo por enquanto)</option>
                    <option value="">Masculino</option>
                    <option value="">Feminino</option>
                    <option value="">Não Binário</option>
                    <option value="">Prefiro não informar</option>
                </select>
            </div>

            <!-- Campo do CPF e do RG  -->
            <div class="form-group mt-4 col-12 row">
                <div class="col-6">
                    <label for="exampleInputEmail1">CPF</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="cpf"
                        placeholder="CPF">
                </div>
                <div class="col-6">
                    <label for="exampleInputEmail1">RG</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="rg"
                        placeholder="RG">
                </div>
            </div>

            <!-- Campo da Idade e do Numero de Celular  -->
            <div class="form-group mt-4 col-12 row">
                <div class="col-6">
                    <label for="exampleInputEmail1">Idade</label>
                    <select class="form-control" name="idade" aria-describedby="Idade">
                        <option value="">Selecione sua idade...(demonstrativo por enquanto também)</option>
                        <option value="">16 anos</option>
                        <option value="">17 anos</option>
                        <option value="">18 anos</option>
                        <option value="">19 anos</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="exampleInputEmail1">Celular</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="Celular"
                        placeholder="Celular">
                </div>
            </div>

            <!-- Campo do CEP  -->
            <div class="form-group col-12 mt-4 row">
                <div class="col-6">
                    <label for="exampleInputEmail1">CEP</label>
                    <input type="text" class="form-control" name="cep" (blur)="getViaCEP($event)"
                        aria-describedby="CEP (00000-000)" placeholder="CEP">
                    <a class="busca-cep" href="https://buscacepinter.correios.com.br/app/endereco/index.php"
                        target="_blank">Não sei meu CEP, como saber?</a>
                </div>


                <!-- Aqui vai ter uma DIV que vai esconder o cidade também -->
                <div class="col-6" *ngIf="showForm | async">
                    <label for="exampleInputEmail1">Estado / UF</label>
                    <input type="text" class="form-control" name="uf" aria-describedby="Estado" placeholder="Estado" [(ngModel)]="formCadastro.uf">
                </div>


                <!-- <div class="col-6" *ngIf="showForm | async">
                <label for="exampleInputEmail1">Estado / UF</label>
                <select class="form-control" name="uf" aria-describedby="Estado">
                    <option *ngfor="let uf of formCadastro" [value]="formCadastro.uf">{{formCadastro.uf}}</option>
                </select>
        </div> -->

            </div>


            <div *ngIf="showForm | async">
                <div class="form-group mt-2 col-12 row">
                    <div class="col-9">
                        <label for="exampleInputEmail1">Endereço</label>
                        <input type="text" class="form-control" name="rua" aria-describedby="Idade"
                            placeholder="Endereço" [(ngModel)]="formCadastro.logradouro">
                    </div>
                    <div class="col-3">
                        <label for="exampleInputEmail1">Numero</label>
                        <input type="text" class="form-control" name="numero" aria-describedby="Numero"
                            placeholder="Numero" [(ngModel)]="formCadastro.numero">
                    </div>
                </div>


                <!-- Cidade -->
                <div class="form-group col-12 mt-4">
                    <label for="exampleInputEmail1">Cidade</label>
                    <input type="email" class="form-control" name="cidade" aria-describedby="Cidade"
                        placeholder="Cidade" [(ngModel)]="formCadastro.uf">
                </div>

                <div class="form-group col-12 mt-4">
                    <label for="exampleInputEmail1">Bairro</label>
                    <input type="email" class="form-control" name="bairro" aria-describedby="Bairro"
                        placeholder="Bairro" [(ngModel)]="formCadastro.bairro">
                </div>


                <div class="Aqui vai ser feito o quadro de soft skills">

                </div>


            </div>

            <!-- botão  -->

            <div class="col-lg-4 offset-lg-4 text-center mb-4 mt-5">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-secondary btn-lg" disabled>Cadastre-se</button>
                </div>
            </div>


        </div>
    </div>
</form>