<div class="main-login">

    <div class="left-page">
        <div class="card-login">
            <h1>DevSelect</h1>
            <h2>Área do Candidato</h2>
            <div class="textfield">
                <label for="user">E-mail</label>
                <input type="text" name="user" placeholder="email@email.com">
            </div>
            <div class="textfield">
                <label for="user">Senha</label>
                <input type="passsword" name="password" placeholder="Senha">
            </div>
            <button class="button-login">ENTRAR</button>
        </div>
    </div>

    <div class="right-page">
        <div class="img-moon">
            <a routerLink="/login">
                <img src="/assets/_img/sun.png" alt="moon">
            </a>
        </div>
        <h1>DevSelect<br>Insira uma frase de efeito aqui!</h1>
        <img class="img-study" src="/assets/_img/study.svg" class="img-login" alt="hand-coding">
    </div>
</div>