.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #3D3B3B, #2b2929,#1f1d1d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-page{
    
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.right-page > h1{
    font-size: 2vw;
    color: white;
}

.img-moon{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.img-moon > img{
    width: 34px;
}

.img-moon > img:hover{
    opacity: 60%;
}


.img-study{
    width: 50%;
}

.img-login{
    width: 32vw;
}

.left-page{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #6ca1f0;
    border-radius: 20px; 
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: white;
    font-weight: 800;
    margin: 0;
    margin-top: 40px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.card-login > h2{
    color:white;
    font-weight: 800;
    margin: 0;
    margin-bottom: 40px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #98bff8;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}


.textfield > label{
    color: white;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #3E82E8;
}

.button-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b2929;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #2b2929;
}



//Responsividade
@media only screen and (max-width: 950px){
    
    .card-login{
        width: 85%;
    }
}


@media only screen and (max-width: 600px){

    .main-login{
        flex-direction: column;
    }

    .right-page{
        display:none;
    }

    .left-page{
        width: 100%;
        height: auto;
    }

    .card-login{
        width: 90%;
    }
}